.QRCODE {
  width: 330px;
  border-radius: 15px;
  padding: 15px;
  background-color: var(--White);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  border-radius: 10px;
}

h1 {
  font-weight: var(--fw-bold);
  font-size: 1.4rem;
  color: var(--Dark-blue);
  
}

p {
  font-weight: var(--fw-reg);
  font-size: 15px;
  padding: .7rem 1rem;
  color: var(--Grayish-blue);
}

.desciption {
    text-align: center;
    padding: 15px 10px;
}